* {
  font-family: "Outfit", sans-serif;
}

#recordForm {
  display: flex;
  flex-direction: column;
  width: 10%;
}

#productList:empty {
  display: none;
}

.container {
  text-align: center;
  /* margin: 0 auto; */
}

/* view clients page */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}

thead {
  background: #f0f0f0;
}

th,
td {
  padding: 0.45em;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

@media (max-width: 768px) {
  thead {
    display: none;
  }

  tr {
    display: block;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    padding: 0.75em;
    background: #fff;
  }

  td:first-child {
    background-color: #e0e0e0; /* soft gray background */
    font-weight: bold;
  }

  td {
    display: block;
    text-align: left;
    position: relative;
    padding-left: 35%;
    border: none;
    border-bottom: 1px solid #eee;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    left: 0.45em;
    top: 0.45em;
    font-weight: bold;
    color: #333;
    text-align: left;
  }

  td:last-child {
    border-bottom: none;
  }

  button.genLink {
    width: 100%;
  }
}
